<% if notice.present? || alert.present? %>
  <div class="w-full flex mx-auto mt-6">
    <p class="mx-auto py-2 px-3 <%= notice ? 'bg-green-50 text-green-700 dark:bg-green-900/30 dark:text-green-300' : 'bg-red-50 text-red-700 dark:bg-red-900/30 dark:text-red-300' %> font-medium rounded text-lg"><%= notice || alert %></p>
  </div>
<% end %>